
head {
}
header {
  background-color: rgb(239, 72, 1);
  margin: 4px, 8px, 4px, 8px;
  padding-left:10px;
  padding-top:8px;
  padding-bottom:8px;
}

body {
  margin: 0px;
  padding: 0px ;
}
main {
  padding: 16px;
}
main h1 {
  color: rgb(46, 93, 68);
}
footer {
  background-color: rgb(153, 194, 111);
  padding-left:24px;
  padding-top:24px;
  padding-bottom:24px;
}
/* nav {
  padding:8px;
  border-bottom: 1px solid black;
} */
nav a {
  color: rgb(250, 250, 250)
}
.recipes {
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.recipes h3 a {
  color:rgb(80, 140, 65);
}

.grey-block tr:nth-child(2n+2) {
  background-color: rgb(223, 220, 220);
}

a {
  text-decoration: none;
}